# This is Git's per-user configuration file.
[include]
    path = ~/.workdiff/gitdiff
[core]
#	pager = /usr/bin/diff-so-fancy | less --tabs=4 -RFX
	excludesfile = ~/.gitignore_global
	quotepath = false
	symlinks = true
	autocrlf = false
[color]
	ui = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
	# Be able to abort all diffs with `:cq` or `:cquit`
	trustExitCode = true
[merge]
	tool = vimdiff
[pager]
	diff = delta --features loy
	log = delta --features loy
	reflog = delta --features loy
	show = delta --features loy
[interactive]
	diffFilter = delta --color-only --features=interactive

[delta "loy"]
    side-by-side = true
	features = line-numbers decorations
    syntax-theme = Dracula
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"

[delta "forgit"]
    side-by-side = false
	features = decorations
    syntax-theme = Dracula
	plus-style = syntax "#003800"
	minus-style = syntax "#3f0001"

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28

